<h1 class="mt-4">Transferência</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Efetuar a transferência de uma conta para outra</li>
</ol>

<div class="container">
    <form #transferenciaForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucesso == true">
                    Transferência efetuada com sucesso!
                </div>
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{erro}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Conta origem *</label>
                    <input type="text" class="form-control" [(ngModel)]="transferencia.contaOrigem" 
                        name="contaOrigem"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Conta destino *</label>
                    <input type="text" class="form-control" [(ngModel)]="transferencia.contaDestino" 
                        name="contaDestino"/>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Valor *</label>
                    <input type="number" class="form-control" [(ngModel)]="transferencia.valorTransferido" 
                        name="valorTransferido"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Data transferência *</label>
                    <input type="date" class="form-control" name="dataTransferencia"
                        [(ngModel)]="transferencia.dataTransferencia"/>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-2" style="margin-bottom: 1%;">
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-check"></i>
                </button>
            </div>
        </div>
    </form>
</div>